body {
    margin: auto;
    font-family: 'Arial';
    background-color: #eeeeee;
}

h1, h2, p {
    text-align: center
}

p {
    background-color: rgba(51, 51, 253, 0.639);
    padding: 20px;
    margin: 20px auto;
    width: 200px;
    border: 0.5px solid #000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

p:hover{
    color: #ffe928;
    transition: 0.5s ease;
    font-size: 14px;
}

